* {
    box-sizing: border-box;
  }
  html {
      background-color: #f6f2eb;
      font-family: 'Courier New', Courier, monospace;      
  }
/* declaring the font type. */
  body {
    margin: 0;
  }
  section,
article,
aside,
footer,
header {
  padding: 0.5rem;
}
header,
footer {
  background-color: #1d4a3b;
  color: #ffffff;
  text-align: center;
  border-bottom: 1px solid #ffffff;
} 
/* seperating color scheme between sections */
h2 p {
    color: solid black;
}
a:any-link {
  color: #1d4a3b;
  
}
p {
  font-size: 16px;
}